body {
	background-color: #4915f8;
	color: white;
	font-family: sans-serif;
}

input[type='button'] {
	background-image: linear-gradient(to right, #EA9E3D , #EE7D38);
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 20px;
	border: none;
	border-radius: 40px;
}

.container {
	margin-left: 30px;
}

.header-section {
	display: flex;
	flex-direction:row;
	align-items: center;
}

.section-1 {
	margin-top: 100px;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	color: #c2bfd1;
}

.section-2 {
	display: flex;
	flex-direction:row;
	justify-content: center;
	margin: 0px 25px;
}

.light-heading {
	font-size: 27px;
	font-weight: lighter;
	color: white;
	margin: 50px 0px 0px 0px;
}

.bold-heading {
	font-size: 32px;
	font-weight: bold;
	color: white;
	margin: 10px 0px;
}

.link {
	font-weight: bold;
	text-decoration: underline;
	color: white;
}

a:visited {
  color: white;
}
